

#
# anvlicmpv6.cfg
#
#
# This is a sample configuration file with entries that apply to the
# ICMPV6 test suite.  See the file anvl.cfg for additional entries. 
#
# Users must supply their own values; this file is only a template.
#
############################################################################
# Note - following global entries have to to be specified
#---------------------------------------------------------------------------
#
###############################################################################
#
# DUT Hostname                          <string>
# Default: none
#
# This is the hostname of the Device Under Test. This string is used
# by commands that control the Device Under Test, which are listed in
# the parameter file.  For example, a command to telnet to a device
# would use this hostname.
# -----------------------------------------------------------------------------
# IPV6 First Unused Prefix                            <IPv6 Address>
#
# Represents the lower edge of a range of Unused IPv6 Prefixes which can be
# used by ANVL. This range of prefixes MUST NOT contain any of the other
# prefixes specified in this cfg file
#
# --------------------------------------------------------------------------
# IPV6 Number Unused Prefixes                         <number>
#
# Represents the width of a range of Unused IPv6 Prefixes which can be used
# by ANVL. This range of prefixes MUST NOT contain any of the other prefixes
# specified in the per-interface lines below
#
# --------------------------------------------------------------------------
# IPV6 Unused Prefix Len                              <number>
#
# Represents the mask of any prefix in the range of Unused IPv6 Prefixes
# which can be used by ANVL. This range of prefixes MUST NOT contain any of
# the other prefixes specified in this cfg file
#
############################################################################
# Note - following entries has to to be specified for every interface
############################################################################
#
# Ethernet Interface                    <string>                
# Default: none
#
# Name of the Ethernet interface on the host machine which tests will
# use.  Configuration items appearing between this interface and the
# next interface (or the end of the file) apply to this interface.
# -----------------------------------------------------------------------------
# IP Version                                             <number>
#
# Version of IP (4 or 6) to be run for an interface
# DEFAULT : 4
#
# --------------------------------------------------------------------------
# IPV6 ANVL Address                                   <IPv6 Address>
#
# IPv6 address of ANVL
#
# --------------------------------------------------------------------------
# IPV6 DUT Address                                    <IPv6 Address>
#
# IPv6 address of DUT
#
# --------------------------------------------------------------------------
# IPv6 Subnet Mask                                    <number>
#
# IPv6 subnet musk. Its value can be in the range of 1 tp 128
#
# --------------------------------------------------------------------------
############################################################################
#
# Example IPV6 configuration file:
#
#

#---------------------------------------------------------------
# Global Configuration Entries
#---------------------------------------------------------------
License Server Location 127.0.0.1
DUT Hostname                            CONFORMANCE-DUT
IPV6 First Unused Prefix                3ffe:4::
IPV6 Number Unused Prefixes             10
IPV6 Unused Prefix Len                  64

#---------------------------------------------------------------
# Per Interface Configuration Entries
#---------------------------------------------------------------

# Interface 1 (ipif, <AIface-0>, <DIface-0>)
#-------------------------------------------
Ethernet Interface                      p1p1
IP Version                              6
IPV6 ANVL Address                       fe80::10
IPV6 DUT Address                        FE80::2875:35FF:FEA9:49F2
IPV6 Subnet Mask                        64

# Interface 2 (ipif, <AIface-1>, <DIface-1>)
#-------------------------------------------
Ethernet Interface                      p1p2
IP Version                              6
IPV6 ANVL Address                       fe80::10
IPV6 DUT Address                        FE80::4479:D1FF:FE6A:16FD
IPV6 Subnet Mask                        64

#
#  anvlicmpv6.cfg: ICMPv6 ANVL Test Suite Cfg file
#  
#  Copyright (c) Ixia 2004-2005
#  All rights reserved
#
